:root {
  --ifm-font-family-base: Roboto;
}

.navbar {
  background: #323a40;
}

.navbar-sidebar {
  background: #323a40;
}

.navbar__item {
  color: #9a9da0;
  font-size: 14px;
}

th {
  min-width: 100px;
}

span.github {
  color: white;
}

.navbar__toggle {
  color: #9a9da0;
}

.navbar-sidebar__back {
  color: #9a9da0;
}

.ide-button {
  padding: 6px 20px;
  border-radius: 5px;
  background: linear-gradient(
    135deg,
    rgba(0, 141, 114, 1) 0%,
    rgba(32, 153, 88, 1) 100%
  );
}

.ide-button-text {
  color: white;
}
